@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #d6cdcd;
	font-family: courier;
	color: #1d222e;
}

#wrapper {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#gamesGrid-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-grid {
	width: 400px;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
}

.block {
	width: 40px;
	height: 40px;
	border: 2px solid #d6cdcd;
	background-color: #c0b3b4;
	box-sizing: border-box;
	border-radius: 5px;
}

.destroyer-preview {
	width: 40px;
	height: 20px;
	margin: 6px;
	border-radius: 5px;
}
.submarine-preview {
	width: 60px;
	height: 20px;
	margin: 6px;
	border-radius: 5px;
}

.cruiser-preview {
	width: 60px;
	height: 20px;
	margin: 6px;
	border-radius: 5px;
}

.battleship-preview {
	width: 80px;
	height: 20px;
	margin: 6px;
	border-radius: 5px;
}

.carrier-preview {
	width: 100px;
	height: 20px;
	margin: 6px;
	border-radius: 5px;
}

.undestroyed-ship-color {
	background-color: #1d222e;
}

.destroyed-ship-color {
	background-color: #d74846;
}

.boom {
	background-color: #d74846 !important;
}

.empty {
	background-color: #fff !important;
}

.sunk-message {
	font-size: 24px;
}

#message-container {
	font-size: 24px;
	text-align: center;
}

#button-container {
	text-align: center;
	margin-top: 60px;
}

#reset-button {
	font-size: 14px;
	color: #9e8e8f;
	margin: 1px 0;
	padding: 8px 0;
	border: none;
	outline: none;
	cursor: pointer;
}

#game-info {
	text-align: center;
}

#option-container {
	font-size: 14px;
	width: 400px;
	height: 40px;
	margin: 10px 0;
	background: #d6cdcd;
	display: flex;
	align-items: center;
}
p {
	font-size: 32px;
	margin: 10px 0;
	padding: 10px 0;
}

.game-message {
	height: 30px;
}

/* Media queries dla ekranów o szerokości mniejszej niż 1000px */
@media (max-width: 1000px) {
	#wrapper {
		transform: translate(-50%, -50%);
		width: 50%;
	}

	.game-grid {
		width: 300px;
		height: 300px;
	}

	.block {
		width: 30px;
		height: 30px;
		border: 2px solid #d6cdcd;
		border-radius: 3px;
	}

	.destroyer-preview {
		width: 30px;
		height: 10px;
		margin: 3px;
		border-radius: 5px;
	}
	.submarine-preview {
		width: 40px;
		height: 10px;
		margin: 3px;
		border-radius: 5px;
	}

	.cruiser-preview {
		width: 40px;
		height: 10px;
		margin: 3px;
		border-radius: 5px;
	}

	.battleship-preview {
		width: 50px;
		height: 10px;
		margin: 3px;
		border-radius: 5px;
	}

	.carrier-preview {
		width: 60px;
		height: 10px;
		margin: 3px;
		border-radius: 5px;
	}

	.undestroyed-ship-color {
		background-color: #1d222e;
	}

	.destroyed-ship-color {
		background-color: #d74846;
	}

	.boom {
		background-color: #d74846 !important;
	}

	.empty {
		background-color: #fff !important;
	}

	.sunk-message {
		font-size: 18px;
	}

	#message-container {
		font-size: 18px;
	}

	#reset-button {
		font-size: 14px;
		margin: 1px 0;
		padding: 4px 0;
	}

	#option-container {
		font-size: 8px;
		width: 200px;
		height: 40px;
		margin: 10px 0;
	}

	p {
		font-size: 16px;
		margin: 12px 0;
		padding: 4px 0;
	}

	#button-container {
		text-align: center;
		margin-top: 30px;
	}
}
